## 연산순서¶
[링크](https://en.wikibooks.org/wiki/Python_Programming/Basic_Math)

## 변수 할당
- 변수할당은 ( = ) 기호를 사용한다.
- 왼족이 변수의 이름이다.
- 오른쪽이 변수의 값이다.

## 데이터타입을 확인하는 방법
- type함수를 이용한다.

## Variable naming rules
- 변수의 시작은 영문자나 언더스코어(_)로만 시작해야 한다.:
   - _salary
   - salary_
- 변수의 시작 다음에는 숫자나 문자나 언더스코어등 아무거나 와도 상관없다. :
   - salary1
   - salary2018x
   - speed_kph
- 변수명은, 같은 문자라도 대문자와소문자를 구별하므로, 다른변수로 취급한다.

   - salary, SALARY
   - salary, Salary
   - salary, salarY
- 변수의 시작은 절대 숫자로 시작할수 없다.

- 다음의 예약어는, 우리가 마음대로 변수로 사용할 수 없는 것들이다.

In [1]:
salary = 20 # dollars per hour
Salary = 25
for1 = 10
saLary = 12
SALARY = 13
s_a_l_a_r_y = 15
SALARY2 = 30
_salary = 30
True_value = 20
salary_ = 33
_SALARY_ = 36

print(salary, Salary, for1, saLary, SALARY, s_a_l_a_r_y, SALARY2, _salary, True_value, salary_, _SALARY_)

20 25 10 12 13 15 30 30 20 33 36

## PRINT 함수
- print() 함수는, 화면에 출력하는 함수다.

[참고](https://vision-ai.tistory.com/entry/%ED%8C%8C%EC%9D%B4%EC%8D%AC-%ED%99%94%EB%A9%B4-%EC%B6%9C%EB%A0%A5-print-%ED%95%A8%EC%88%98)

In [2]:
x = "my name is hyunhee"

In [3]:
print(x)

my name is hyunhee

In [4]:
print("my name is {}, I'm {} years old".format("hyunhee",27))

my name is hyunhee, I'm 27 years old

## USER INPUT - 사용자에게서 직접 입력을 받는 경우
- input 함수는, 유저한테서 직접 입력을 받는다.
- 유저가 숫자를 입력하든, 문자를 입력하든, input() 함수는 전부 문자열로 처리


[참고](https://vision-ai.tistory.com/entry/%ED%8C%8C%EC%9D%B4%EC%8D%AC-%EC%82%AC%EC%9A%A9%EC%9E%90%EC%97%90%EA%B2%8C-%EC%9E%85%EB%A0%A5%EB%B0%9B%EA%B8%B0-User-Input)

In [5]:
z = input("what is your name?")
print(z)

what is your name?hyoniii
hyoniii

In [7]:
name = input("what is your name?")
age = input("how old are you?")
print("Your name is {},{} years old".format(name,age))

what is your name?anna
how old are you?17
Your name is anna,17 years old

## 형변환
'3' 은 숫자가 아니다. 따라서 숫자로 바꿔줘야 한다.
기본데이터타입은 총 3개
바꾸는 방법은? int(), float(), str()

In [8]:
q = "27"
type(q)

str

In [13]:
q = int(q) ##재할당
type(q)

int

In [14]:
a = input("가로의 길이")
b = input("세로의 길이")
print("사각형의 넓이는 {}이다.".format(a*b))

가로의 길이2
세로의 길이3

TypeError: can't multiply sequence by non-int of type 'str'

### _위 코드가 오류나는 이유는 input으로 입력받은 값은 모두 문자열로 처리되기 때문이다._
### _그 때문에 아래처럼 숫자는 int(), float()로 형 변환을 시켜줘야한다_

In [15]:
a = input("가로의 길이")
a = int(a)
b = input("세로의 길이")
b = int(b)
print("사각형의 넓이는 {}이다.".format(a*b))

가로의 길이3
세로의 길이4
사각형의 넓이는 12이다.

## input 문제

- import calendar
- calendar.month(theyear, themonth)¶

둘을 이용하여 현재 날짜의 달력을 구현하라.

In [17]:
import calendar

In [21]:
year = int(input("올해는 몇 년도입니까?"))

month = int(input("지금은 몇 월입니까?"))

now = calendar.month(year,month)

올해는 몇 년도입니까?2020
지금은 몇 월입니까?8

In [22]:
print(now)

    August 2020
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

First is 4.3, and second is 5.21. So, Multiplication = 22.403, addition = 9.51¶

위 처럼 출력할 수 있는 코드를 만들어라

In [23]:
first = float(input())
second = float(input())

print("First is {}, and second is {}, Mutiplication = {},addition = {}".format(first,second,first*second,first+second))

4.3
5.21
First is 4.3, and second is 5.21, Mutiplication = 22.403,addition = 9.51

# STRINGS - 문자열
- 각각의 하나의 문자들이 나열된 상태, 즉 시퀀스(sequence) 이다!!!
- 문자열은, 싱글퀏이나 더블퀏 (single or double quotes)으로 감싸야 한다.
- 문자열에 다음처럼 작은따옴표가 겹치면, 에러가 난다. 
- 문자열에 큰따옴표가 들어있는 경우에는, 이스케이프 캐릭터 \" 를 이용해서 처리할 수 도 있다.

[참고](https://vision-ai.tistory.com/entry/Python-Strings-%ED%8C%8C%EC%9D%B4%EC%8D%AC-%EB%AC%B8%EC%9E%90%EC%97%B4-%EB%A7%8C%EB%93%A4%EA%B8%B0)

In [25]:
y = "Hello world"
r = 'hi world'
print(y,r)

Hello world hi world

In [26]:
papa = ''' I said, "I'm your farther" yesterday '''
print(papa)

 I said, "I'm your farther" yesterday

### 3개의 단일 부호로 문자열을 만들 수 있다. 특히 줄을 바꿔가면서 긴 문자열 만들때 유용.¶

In [27]:
poem = '''So "it is" quite different, then, if in a mountain town
the mountains are close, rather than far. Here

they are far, their distance away established,
consistent year to year, like a parent’s

or sibling’s. They have their own music.
So I confess I do not know what it’s like,

listening to mountains up close, like a lover,
the silence of them known, not guessed at.'''

print(poem)

So "it is" quite different, then, if in a mountain town
the mountains are close, rather than far. Here

they are far, their distance away established,
consistent year to year, like a parent’s

or sibling’s. They have their own music.
So I confess I do not know what it’s like,

listening to mountains up close, like a lover,
the silence of them known, not guessed at.

## 문자열을 다루는 함수들
[강의참고 : 문자열 함수](https://vision-ai.tistory.com/entry/%ED%8C%8C%EC%9D%B4%EC%8D%AC-%EB%AC%B8%EC%9E%90%EC%97%B4-%ED%95%A8%EC%88%98-upper-lower-title-split-%EB%AC%B8%EC%9E%90%EC%97%B4-%EB%B6%84%EB%A6%AC%ED%95%98%EA%B8%B0)
### 더하기 연산 ( + 연산자 )  : 문자열 결합
- + 연산자는, 숫자 뿐만 아니라 문자열에서도 사용이 가능하다.
- 여러 문자열들을 결합할 수 있다.
- + 연산자 (더하기 연산자) 를 사용하면, 문자열을 옆으로 붙이게 된다. 즉, 문자열을 결합시킨다.
- 두개의 문자열을 결합시키는 것도 되고, 여러개의 문자열을 결합시킬 수도 있다.
- 더하기 연산자를 이용해서 문자열을 붙일 때, 공백을 포함시켜서 결합시키려면, " " 공백 문자열을 중간에 넣어주면 된다.

In [32]:
first_name = "Hyunhee"
last_name = "Park"

full_name = first_name + " " +last_name

print(full_name)

Hyunhee Park

### 대소문자 처리하는, upper() lower()  title() 함수

- 문자열을 대문자 로 바꿀 수 있는 upper()
- 문자열을 소문자 로 바꿀 수 있는 lower() 
- 문자열을 단어 앞만 대문자로 바꿀 수 있는 title() 함수도 있다.

In [37]:
upper_name = full_name.upper()

print(upper_name)

HYUNHEE PARK

In [38]:
low_name = upper_name.lower()
print(low_name)

hyunhee park

In [40]:
title_name = low_name.title()
print(title_name)

Hyunhee Park

### 문자열을 쪼갤 수 있는 split() 함수 - 쪼갠 결과는 list 로 반환된다.

- 문자열을 공백( " " ) 으로 쪼갤수 있다. 즉, 문자열을 단어들로 분리해 낼 수 있다. split() 
- 문자열을 특정 글자로도 쪼갤 수 있다. 't' 로 쪼개면, 3개의 단어로 분리된다. split('t')
- 문자열을 특정 문자열로도 쪼갤 수 있다. 'ch'로 쪼개면, 2개의 단어로 분리된다. split('ch') 
- 이메일 주소가 있으면, @로 문자열을 분리해 낼 수 있다. split('@') 
- split() 함수를 통해 나온 결과는, 리스트로 반환된다.

In [41]:
title_name.split()

['Hyunhee', 'Park']

In [42]:
title_name.split("e")

['Hyunh', '', ' Park']

In [45]:
email = "abc@cba.com"

email.split("@")

['abc', 'cba.com']

## 문자추출

### 문자 한개만 추출하기
순방향, 역방향 이해

[참고](https://vision-ai.tistory.com/entry/%ED%8C%8C%EC%9D%B4%EC%8D%AC-%EB%AC%B8%EC%9E%90%EC%97%B4-%EC%B6%94%EC%B6%9C%EC%8A%AC%EB%9D%BC%EC%9D%B4%EC%8B%B1-Slicing-%EC%BD%9C%EB%A1%A0-%EC%82%AC%EC%9A%A9%EB%B2%95)

In [47]:
letters = 'abcdefghijklmnopqrstuvwxyz'

In [48]:
letters[0]

'a'

In [49]:
letters[3]

'd'

### _주의_
- 문자열은 immutable 이다. 따라서 한번 생성된 문자열 자체를 바꾸는것은 할 수 없다.
- 따라서, 새로운 메모리에 변경한 문자열을 새로 만드는 방법을 사용하게 된다.

In [50]:
letters[0] = 'k'

TypeError: 'str' object does not support item assignment

### 문자열 바꾸기 파이썬 replace() 함수

문자열을 바꿀 수도 있다. 'abc' 를 ' hello '로 바꾼다. 

이때, 원본 문자열은 절대 바뀌지 않는다.

In [62]:
new_letter = letters.replace("abc","Hello")

In [53]:
print(new_letter)

Hellodefghijklmnopqrstuvwxyz

### 문자열의 일부를 추출하기
- [:] 처음부터 끝까지
- [start:] start오프셋부터 끝까지
- [:end] 처음부터 end-1 오프셋까지
- [start : end] start오프셋부터 end-1 오프셋까지
- [start : end : step] step만큼 문자를 건너뛰면서, 위와 동일하게 추출

In [54]:
letters

'abcdefghijklmnopqrstuvwxyz'

In [55]:
letters[0:3]

'abc'

In [56]:
letters[-3:]

'xyz'

In [57]:
letters[-6 : -3 + 1]

'uvwx'

In [58]:
letters[ : : -1]

'zyxwvutsrqponmlkjihgfedcba'

### 문자열의 길이
- len() 함수를 사용하여 몇개의 문자로 되어있는지 알 수 있다.

In [59]:
poem

'So "it is" quite different, then, if in a mountain town\nthe mountains are close, rather than far. Here\n\nthey are far, their distance away established,\nconsistent year to year, like a parent’s\n\nor sibling’s. They have their own music.\nSo I confess I do not know what it’s like,\n\nlistening to mountains up close, like a lover,\nthe silence of them known, not guessed at.'

In [61]:
len(poem)

367

#### 공백포함
len 함수를 이용해서 문자의 갯수를 파악하는데, 이때 주의할 점은, 공백이 포함되어 있으면, 공백도 하나의 문자로 갯수를 센다.

따라서 ex_str 의 문자 앞과 뒤에 공백이 하나씩 있고, hello와 world 사이에도 공백이 있으므로, 총 13글자가 된다.

In [64]:
ex_str = " hello world "

len(ex_str)

13

### 문자열 위치 찾기
- find 함수는, 찾고자 하는 문자열이 존재하는 곳의 첫번째 오프셋을 알려준다.
- rfind 함수는, 찾고자 하는 문자열이 있는 마지막 오프셋을 알려준다.
- 문자열에 없는 문자열을 찾으라고 하면, -1 을 리턴한다.

In [65]:
poem

'So "it is" quite different, then, if in a mountain town\nthe mountains are close, rather than far. Here\n\nthey are far, their distance away established,\nconsistent year to year, like a parent’s\n\nor sibling’s. They have their own music.\nSo I confess I do not know what it’s like,\n\nlistening to mountains up close, like a lover,\nthe silence of them known, not guessed at.'

In [69]:
poem.find("if")

18

In [70]:
poem.find("year")

162

In [72]:
poem.find("apple")

-1

### 문자열의 갯수 파악
- count() 함수는 몇개의 문자열이 있는지 알려준다.

In [73]:
poem.count("if")

2

In [75]:
poem.count("year")

2

In [76]:
poem.count("apple")

0

### 문제

입력 예) 유저로부터 : 안녕하세요? 오늘 날씨가 아주 좋네요.

출력 예) ['안녕하세요?', '오늘', '날씨가', '아주', '좋네요.']

In [77]:
sentence = input("입력하세요")
print(sentence.split())

입력하세요안녕하세요? 오늘 날씨가 아주 좋네요.
['안녕하세요?', '오늘', '날씨가', '아주', '좋네요.']

# LISTS
- 데이터를 여러 개 저장하는데 사용합니다.
- 순서가 있습니다. 즉, 인덱스를 가지고 있습니다.
- 값을 바꿀 수 있습니다. 즉, mutable 이라고 합니다.

[참고](https://vision-ai.tistory.com/entry/%ED%8C%8C%EC%9D%B4%EC%8D%AC-%EB%A6%AC%EC%8A%A4%ED%8A%B8-%EB%A7%8C%EB%93%A4%EA%B8%B0-Python-List-1)

### 리스트 만들기
파이썬 리스트에서 비어있는 리스트, 즉 아무것도 없는 리스트는 아래처럼 두가지 방법으로 생성할 수 있습니다.

- 대괄호를 사용하는 방법 : [ ]
- list() 함수를 사용하는 방법

In [78]:
list_one = []

In [79]:
print(list_one)

[]

In [82]:
list_two = list()

In [83]:
print(list_one)

[]

### 여러 종류의 데이터를, 하나의 리스트에 저장 가능함¶

In [85]:
list_three = [1,"2","hello",[1,2,3]]

### 리스트 offset 으로 값을 얻기¶

In [88]:
list_three[0]

1

In [89]:
list_three[3]

[1, 2, 3]

### 리스트 안에 있는 리스트의 값을 얻기¶

In [90]:
list_three[3][1]

2

### offset 으로, 리스트 안에 있는 값을 바꾸기

In [91]:
list_three[2] = "13"

In [92]:
list_three

[1, '2', '13', [1, 2, 3]]

### 리스트에 항목을 추가하기
- 리스트 중간에, 원하는 위치(index) 에, 값을 추가하기 insert()

In [93]:
week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [94]:
week.insert(5,"Saturday")

In [95]:
week

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

In [96]:
week.insert(0,"Sunday")

In [97]:
week

['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

### 항목을 삭제하기¶
- 인덱스를 이용해서, 삭제하기 원하는 위치의 값을 삭제하기 del

In [98]:
del week[1]

In [99]:
week

['Sunday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

- 저장되어 있는 값으로 삭제하기 remove()

In [100]:
week.remove("Sunday")

In [101]:
week

['Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

-  항목을 반환하면서, 리스트에서 값을 삭제하기 pop(),  pop(인덱스)

In [102]:
value = week.pop()

In [103]:
value

'Saturday'

In [104]:
week

['Tuesday', 'Wednesday', 'Thursday', 'Friday']

### 리스트 + 연산
두개의 리스트를 + (더하기 연산) 을 이용해서, 두개 이상의 리스트를 하나의 리스트로 만들 수 있다.

In [105]:
fruits = ["apple","banana","pineapple"]
numbers = [1,2,3]

print(fruits+numbers)

['apple', 'banana', 'pineapple', 1, 2, 3]

### 값으로 오프셋 찾기
인덱스 위치를 찾고자 할 때 index()

In [107]:
fruits.index("banana")

1

### 리스트 안에, 원하는 값이 있는지 확인하기 :  in 자료구조
"찾고자하는 값" in "자료구조(리스트)" 

True 이면 리스트에 해당 값이 존재하는 것이고, 존재하지 않으면 False 가 리턴된다.

In [111]:
"apple" in fruits

True

### 찾고자 하는 항목이, 파이썬의 리스트에 몇개나 들어있는지 확인하는 count 함수

In [114]:
fruits = ['Apple', 'Banana', 'Mango', 'Pineapple', 
          'Coconut', 'Orange', 'Strawberry', 'Lemon', 'Mango']

In [115]:
fruits.count('Mango')

2

### 리스트의 전체 갯수 세기 : 리스트에 저장된 항목이 전부 몇개인지 확인하는 len() 함수

In [116]:
len(fruits)

9

### 항목들을 정렬하기
- 원래의 리스트 자체는 건들지 않고, 새롭게 정렬한 리스트를 반환하는 경우 : sorted()
- 원래의 리스트 자체를 정렬해서 변경하는 경우 : sort()

In [117]:
fruits

['Apple',
 'Banana',
 'Mango',
 'Pineapple',
 'Coconut',
 'Orange',
 'Strawberry',
 'Lemon',
 'Mango']

In [118]:
new_fruits = sorted(fruits)

In [119]:
print(fruits)
print(new_fruits)

['Apple', 'Banana', 'Mango', 'Pineapple', 'Coconut', 'Orange', 'Strawberry', 'Lemon', 'Mango']
['Apple', 'Banana', 'Coconut', 'Lemon', 'Mango', 'Mango', 'Orange', 'Pineapple', 'Strawberry']

In [120]:
new_fruits.sort()

print(fruits)
print(new_fruits)

['Apple', 'Banana', 'Mango', 'Pineapple', 'Coconut', 'Orange', 'Strawberry', 'Lemon', 'Mango']
['Apple', 'Banana', 'Coconut', 'Lemon', 'Mango', 'Mango', 'Orange', 'Pineapple', 'Strawberry']

### 정렬(sorting) 순서 바꾸기, 역순 (내림차순) 정렬하는 reverse 파라미터 사용

In [121]:
num_list = [ 44, 5, 12, 100, 32]

In [122]:
new_num_list = sorted(num_list)

In [123]:
print(num_list)
print(new_num_list)

[44, 5, 12, 100, 32]
[5, 12, 32, 44, 100]

In [124]:
new_num_list = sorted(num_list, reverse=True)

In [125]:
print(new_num_list)

[100, 44, 32, 12, 5]

### 리스트의 특성과 copy() 함수

In [126]:
print(fruits)

['Apple', 'Banana', 'Mango', 'Pineapple', 'Coconut', 'Orange', 'Strawberry', 'Lemon', 'Mango']

In [130]:
my_fruits = fruits # 얕은 복사

In [128]:
my_fruits[0] = 'Guava'

In [129]:
print(my_fruits)
print(fruits)

['Guava', 'Banana', 'Mango', 'Pineapple', 'Coconut', 'Orange', 'Strawberry', 'Lemon', 'Mango']
['Guava', 'Banana', 'Mango', 'Pineapple', 'Coconut', 'Orange', 'Strawberry', 'Lemon', 'Mango']

In [131]:
my_fruits = fruits.copy()

In [133]:
my_fruits[0] = 'Apple'

In [134]:
print(my_fruits)
print(fruits)

['Apple', 'Banana', 'Mango', 'Pineapple', 'Coconut', 'Orange', 'Strawberry', 'Lemon', 'Mango']
['Guava', 'Banana', 'Mango', 'Pineapple', 'Coconut', 'Orange', 'Strawberry', 'Lemon', 'Mango']

## 문제
### 0. grade1 라는 변수에 3을 저장하세요. grade2 라는 변수에는 8을 저장하세요. 그리고 두 변수를 더한 값을 출력하세요.¶

In [135]:
grade1 = 3
grade2 = 8
print(grade1+grade2)

11

### 1. 다음(Daum)의 주가가 89,000원이고 네이버(Naver)의 주가가 751,000원이라고 가정하고, 어떤 사람이 다음 주식 100주와 네이버 주식 20주를 가지고 있을 때 그 사람이 가지고 있는 주식의 총액을 계산하는 코드를 작성하세요.

In [138]:
daum = 89000
naver = 751000

had = daum*100 + naver*20
print(had)

23920000

### 2. things 이름의 리스트를 만드세요. 이 리스트는 "Mozzarella", "Brie", "Colby" 세 문자열을 요소로 갖습니다.

In [146]:
things = ["Mozzarella", "Brie", "Colby"]

### 3. things 리스트에서 첫번째에 저장된 값을 출력하세요.

In [147]:
things[0]

'Mozzarella'

### 4. 이 리스트의 맨 마지막에 "Gouda"를 추가하세요.

In [148]:
things.append("Gouda")
print(things)

['Mozzarella', 'Brie', 'Colby', 'Gouda']

### 5. 이 리스트의 두번째에 "Ricotta" 를 추가하고, 출력하세요.¶

In [149]:
things.insert(1,"Ricotta")

In [150]:
print(things)

['Mozzarella', 'Ricotta', 'Brie', 'Colby', 'Gouda']

### 6. 이 리스트의 맨 마지막 요소를 제거하고, 출력하세요.¶

In [151]:
del things[-1]
print(things)

['Mozzarella', 'Ricotta', 'Brie', 'Colby']

### 7. 이 리스트의 3번째에 저장된 값을, 변수 name 에 저장하세요.

In [152]:
name = things[2]
print(name)

Brie

### 8. 변수 name 에 저장된 값을, 대문자로 바꿔서 출력하세요.

In [153]:
name.upper()

'BRIE'

### 9. 리스트의 길이를 구하시오. 몇개의 항목이 있습니까?

In [154]:
len(things)

4

### 10. 다음의 문자열을 리스트로 만드세요. (힌트는 , )
cheeses = "Parmesa, Gorgonzola, Cheddar, Camembert"

In [163]:
cheeses = "Parmesa, Gorgonzola, Cheddar, Camembert"

In [164]:
cheeses = cheeses.split(",")
print(cheeses)

['Parmesa', ' Gorgonzola', ' Cheddar', ' Camembert']

### 11. things 리스트와 위의 리스트를 합쳐서, all_cheeses 라는 변수이름으로, 하나의 리스트로 만드세요.

In [165]:
all_cheeses = things + cheeses
print(all_cheeses)

['Mozzarella', 'Ricotta', 'Brie', 'Colby', 'Parmesa', ' Gorgonzola', ' Cheddar', ' Camembert']

## 문제

### 유저한테 숫자 1개를 입력받아서,그 숫자가 10이면,정답입니다! 를 출력하는 프로그램

In [170]:
num = int(input("숫자를 입력하세요"))

if num == 10:
    print("정답입니다!")
else:
    print("오답입니다!")

숫자를 입력하세요9
오답입니다!

### 유저한테 숫자 1개를 입력받아서, 그 숫자가 짝수이면 "짝수"를 출력하고, 홀수이면 "홀수"를 출력하는 프로그램

In [172]:
num_2 = int(input("숫자를 입력하세요"))
if num_2%2==0:
    print("짝수")
elif num_2%2==1:
    print("홀수")

숫자를 입력하세요5
홀수

### 유저한테 점수를 입력받아서,점수가 0보다 작거나 100보다 크면, "잘못 입력했습니다."를 출력.점수가 80 이상이면, "입력하신 학점 ...은 A 학점입니다." 를 출력점수가 80 점 미만이면, "입력하신 학점 ... 은 B 학점입니다."를 출력

In [178]:
score = int(input("점수를 입력하세요"))

if score >100 or score < 0:
    print("잘못 입력헸습니다")
elif score>=80:
    print("입력하신 학점 {}은 A 학점입니다".format(score))
elif score <80:
    print("입력하신 학점 {}은 B 학점입니다".format(score))

점수를 입력하세요120
잘못 입력헸습니다

### 5. 회원가입을 하려 합니다. 유저한테 이메일과 비밀번호를 입력받습니다. 유저한테 이메일을 입력받습니다. 이때 이메일주소 형식(@)이 잘못 되었으면, 다시 입력하세요 를 출력합니다.  이메일 주소가 잘 입력되었으면, 이제 비밀번호를 두번 입력받습니다.만약 첫번째 입력한 비밀번호와, 두번째 입력한 비밀번호가 다르면, 비밀번호가 일치하지 않습니다 를 출력합니다. 비번 길이는 5글자 이상 9글자 이하로 입력받아야 합니다.

In [ ]:
email = input("이메일을 입력하세요")


if "@" in email:
    pw_1 = input("비밀번호를 입력하세요")
    if len(pw_1)>10 or len(pw_1)<5:
        print("재입력하세요")
    pw_2 = input("비밀번호를 재입력하세요")
    
    if pw_1 != pw_2:
        print("재입력하세요")
else:
    print("다시 입력하세요")

In [ ]:

email = input('이메일 입력 : ')
passwd1 = input('비번 입력 : ')
passwd2 = input('비번 확인 : ')

if '@' not in email :
    print('이메일 주소가 잘못되었습니다.')
elif passwd1 != passwd2 :
    print('비번이 일치하지 않습니다.')
elif len(passwd1) < 5 or len(passwd1) > 9 : 
    print('비번 길이는 5글자 이상 9글자 이하로 입력하세요.')