# TUPLES AND SETS

## TUPLES
Immutable Python objects.

튜플은 시퀀스, 즉 순서가 있습니다.

튜플은 괄호 ( ) 를 사용합니다.

In [1]:
my_tuple = ()

In [2]:
type(my_tuple)

tuple

In [3]:
my_tuple2 = tuple()

In [4]:
type(my_tuple2)

tuple

### 괄호 없이 입력하면 튜플로 자동생성

In [5]:
my_tuple = 10, 20, 30, 40

In [6]:
type(my_tuple)
print(my_tuple)

(10, 20, 30, 40)

### 튜플 안에는 모든 데이터 타입이 들어갈 수 있다

In [7]:
n_tuple = ("mouse", [8,4,6], (1,2,3))

In [8]:
n_tuple

('mouse', [8, 4, 6], (1, 2, 3))

## SETS
셋에 들어있는 데이터는 순서가 없습니다.

셋에는 동일한 값이 저장되지 않습니다. 우리가 배웠던 집합과 같습니다.

셋은 중괄호 { } 로 정의합니다.

In [9]:
my_set = {}

In [10]:
type(my_set)

dict

In [11]:
my_set = set()

In [12]:
type(my_set)

set

In [13]:
print(my_set)

set()

In [24]:
my_set = { 1, 2, 3, 4, 3, 4, 2, 1}

In [16]:
print(my_set)  # 중복 값 저장 X

{1, 2, 3, 4}

### set의 합집합,교집합,차집합

In [17]:
A = {0,2,4,6,8}
B = {1,2,3,4,5}

In [18]:
A | B # 합집합

{0, 1, 2, 3, 4, 5, 6, 8}

In [19]:
A & B # 교집합

{2, 4}

In [20]:
A - B # 차집합

{0, 6, 8}

In [21]:
A ^ B # 여집합

{0, 1, 3, 5, 6, 8}

In [25]:
my_set

{1, 2, 3, 4}

In [26]:
my_set.add(5)

In [27]:
my_set

{1, 2, 3, 4, 5}

In [28]:
my_set.discard(1)

In [29]:
my_set

{2, 3, 4, 5}

##  문제

### 1. 다음처럼 출력하세요. Hello Chanel, you are 26 years old!

In [31]:
my_tuple = ("Chanel", 26)

In [32]:
print("Hello {}, you are {} years old".format(my_tuple[0],my_tuple[1]))

Hello Chanel, you are 26 years old

### 2. 다음과 같은 튜플이 있습니다.
### 2-1. 모든 튜플 출력
### 2-2. 마지막 값 출력
### 2-3. 첫 번째와 두 번째 값 출력

In [33]:
my_tuple = ("chanel", "mitch", "sarah", "cynthia", "diane", "steeve")

In [34]:
my_tuple[:]

('chanel', 'mitch', 'sarah', 'cynthia', 'diane', 'steeve')

In [35]:
my_tuple[-1]

'steeve'

In [36]:
my_tuple[0:2]

('chanel', 'mitch')

### 3. 다음과 같은 튜플이 있습니다. my_tuple = ("Ryan", "ahmed", 25)
### 3-1. 길이를 구하세요.
### 3-2. 타입을 확인하세요.

In [37]:
my_tuple = ("Ryan", "ahmed", 25)

In [38]:
len(my_tuple)

3

In [39]:
type(my_tuple)

tuple

### 4. 다음과 같은 튜플이 있습니다. my_tuple = ("hello", [87, 40, 60], "world", (10, 25, 30))
### 4-1. "40"을 출력하세요.
### 4-2."world"를 출력하세요.
### 4-3. 25를 출력하세요.
### 4-4. 두 번째 요소로 저장되어 있는 리스트를 출력하세요.
### 4-5. 맨 마지막 요소인 튜플을 출력하세요.

In [40]:
my_tuple = ("hello", [87, 40, 60], "world", (10, 25, 30))

In [41]:
my_tuple[1][1]

40

In [42]:
my_tuple[2]

'world'

In [43]:
my_tuple[3][1]

25

In [44]:
my_tuple[1]

[87, 40, 60]

In [45]:
my_tuple[-1]

(10, 25, 30)

### 다음을 실행해보고 왜 그런지 적으세요.

In [46]:
my_tuple = (40, 3, 2, [10, 4])

my_tuple[2] = 10

TypeError: 'tuple' object does not support item assignment

In [47]:
## 튜플은 불변객체(immutable)이기 때문이다.

### 7. 다음과 같은 튜플이 있습니다. my_tuple = ('math','science','science','python','english')
### 7-1. python이 들어 있는지 확인하세요.
### 7-2. physics가 없는지 확인하세요.

In [48]:
my_tuple = ('math','science','science','python','english')

In [49]:
"python" in my_tuple

True

In [50]:
"physics" not in my_tuple

True

### 8. my_list에는 동일한 값들이 들어있습니다. 동일한 값들을 제거하여, 동일한 값이 없는 리스트로 만드세요.

In [51]:
my_list = ["2", 50, "2", 50, 4, 6, 9, 9]

In [52]:
my_set = set(my_list)

In [53]:
my_set

{'2', 4, 50, 6, 9}

In [54]:
my_list = list(my_set)

In [55]:
my_list

[4, 6, '2', 9, 50]