## 반복문 - Loop
- For Loops
- Break a loop
- Continue statement
- Range
- While Loops
- Nested loops
- List Comprehension

In [5]:
my_list = [11, 222, 30]

In [6]:

for i in my_list :
    print(i)
print('hello')

11
222
30
hello

### FOR LOOPS
- 영어가 설명이 정확합니다. For loops are used for iterating over a sequence (a list, a tuple, a dictionary, a set, or a string).

- 한번에 하나의 항목만 가져와서, 원하는 대로 처리합니다.

- 리스트 데이터를 loop 돌면서 처리한다.¶

In [7]:
for value in my_list :
    print('hello')
    print(value + 3)

hello
14
hello
225
hello
33

### 문자열 데이터를 루프 돌면서 처리한다.¶

In [8]:
word = 'This is my cat.'

In [9]:
for i in word:
    print(i.upper())

T
H
I
S

I
S

M
Y

C
A
T
.

### 리스트를 루프 돈다.

In [10]:
numbers = [ 1, 2, 3, 4, 5, 6 ]

In [11]:
for i in numbers:
    print(i)

1
2
3
4
5
6

In [16]:
list_sum = 0

for i in numbers:
    list_sum = list_sum+i
    print(list_sum)

print(list_sum)

1
3
6
10
15
21
21

### 리스트의 인덱스값과, 매칭되어 저장되어있은 값을 함께 출력¶

In [17]:
my_list = ['apple', 'blueberries', 'mango', 'watermelon']

In [18]:
for i, value in enumerate(my_list) :
    print( i, value)

0 apple
1 blueberries
2 mango
3 watermelon

### 딕셔너리 데이터를 for 루프 : key¶

In [19]:
my_dict = { 'room' :'ballroom', 'weapon':'lead pipe', 'person':'Mike'  }

In [20]:
for i in my_dict :
    print(i)

room
weapon
person

In [21]:
my_dict

{'room': 'ballroom', 'weapon': 'lead pipe', 'person': 'Mike'}

In [22]:
my_dict.keys()

dict_keys(['room', 'weapon', 'person'])

In [23]:
my_dict.values()

dict_values(['ballroom', 'lead pipe', 'Mike'])

### 딕셔너리 value 값을 for 루프

In [24]:
for value in my_dict.values() :
    print(value)

ballroom
lead pipe
Mike

### 키 밸류를 튜플 로 프린트
- dict의 items()는 Dictonary의 키-값 쌍 Tuple 들로 구성된 dict_items 객체를 리턴한다.

In [26]:
for item in my_dict.items():
    print(item)

('room', 'ballroom')
('weapon', 'lead pipe')
('person', 'Mike')

### 키, 밸류 값을 각각 가져와서 원하는 처리를 함¶

In [28]:
for key,value in my_dict.items():
    print(key,"는",value)

room 는 ballroom
weapon 는 lead pipe
person 는 Mike

### BREAK A LOOP/CONTINUE
코드 실행 순서를 바꿔보자

자신을 감싸고 있는 루프의 { } 괄호를 벗어난다. break() is used to exit a for loop or a while loop

루프의 처음 조건으로 돌아간다. continue() is used to skip the current block, and return to the "for" or "while" statement.

In [29]:
my_list

['apple', 'blueberries', 'mango', 'watermelon']

망고가 나오면 멈추는 코드

In [30]:
for i in my_list:
    if i =="mango":
        break
    print(i)

apple
blueberries

2의 배수는 지나치는 코드

In [31]:
numbers

[1, 2, 3, 4, 5, 6]

In [32]:
for i in numbers:
    if i%2 == 0:
        continue
    print(i)

1
3
5

### RANGE 함수
range() 함수는, 숫자 리스트를 만들어 준다.

range() 함수는, 인덱스가 0 부터 시작한다.

레인지의 괄호 안에 적는 숫자 갯수만큼 만든다.

Example: range(0, 10) generates integers from 0 up to, but not including, 10.

In [33]:
result = range(100)

In [34]:
print(result)

range(0, 100)

In [35]:
result = list(result)

In [36]:
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [37]:
result = list(range(1, 20, 3))

In [38]:
print(result)

[1, 4, 7, 10, 13, 16, 19]

#### 1 부터 50까지 중 2의 배수 출력

In [39]:
for i in range(1,51):
    if i%2 == 1:
        continue
    else:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

### WHILE LOOPS
While loop 는, 조건식을 만족하는 동안, 자신이 포함하는 문장들을 실행한다.

In [40]:

i = 0
while i <= 10 :
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9
10

### Infinite Loop : 무한루프
## 롯데리아에서 키오스크로 햄버거 주문할때, 유저가 버튼 누를때까지 화면은 계속 나오고 있다.
## 게임이 시작되고 나면, 유저가 화장실을 갔다와도 게임은 계속 진행되고 있다.

In [ ]:
while True :
    string = input('문자를 입력하세요 :')
    
    if string == '0':
        break
    
    print('입력한 문자는 {} 입니다.'.format(string))

### NESTED LOOPS
루프 안애 또 루프가 들어가는 경우.

In [44]:
for i in range(1,10):
    print("{}단입니다.".format(i))
    for j in range(1,10):
        print("{}x{}={}".format(i,j,i*j))

1단입니다.
1x1=1
1x2=2
1x3=3
1x4=4
1x5=5
1x6=6
1x7=7
1x8=8
1x9=9
2단입니다.
2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18
3단입니다.
3x1=3
3x2=6
3x3=9
3x4=12
3x5=15
3x6=18
3x7=21
3x8=24
3x9=27
4단입니다.
4x1=4
4x2=8
4x3=12
4x4=16
4x5=20
4x6=24
4x7=28
4x8=32
4x9=36
5단입니다.
5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
6단입니다.
6x1=6
6x2=12
6x3=18
6x4=24
6x5=30
6x6=36
6x7=42
6x8=48
6x9=54
7단입니다.
7x1=7
7x2=14
7x3=21
7x4=28
7x5=35
7x6=42
7x7=49
7x8=56
7x9=63
8단입니다.
8x1=8
8x2=16
8x3=24
8x4=32
8x5=40
8x6=48
8x7=56
8x8=64
8x9=72
9단입니다.
9x1=9
9x2=18
9x3=27
9x4=36
9x5=45
9x6=54
9x7=63
9x8=72
9x9=81

### LIST COMPREHENSION
원본 리스트를 가지고, 다른 리스트를 만드는 방법
for 나 while 없이, loop 를 실행시키는 아름다운 방법

In [45]:
my_list = [ 1, 2, 3, 4 ]

In [46]:
new_list = []
for i in my_list :
    new_list.append( i**2 )

In [47]:
print(new_list)

[1, 4, 9, 16]

In [48]:
new_list2 = [ i**2 for i in my_list ]

In [49]:
print(new_list2)

[1, 4, 9, 16]

### 1부터 10까지 숫자 중, 짝수만 빼서, 3승을 시킨 리스트

In [50]:
output_list = [ i**3  for i in range(1, 11) if i % 2 == 0  ]

In [51]:
print(output_list)

[8, 64, 216, 512, 1000]

### LAMBDA EXPRESSIONS
Lambda function 은 anonymous function 이다. 즉 함수 이름이 없다.

Lambda functions 은 주로 filter(), map() , reduce() 함수와 함께 사용된다. 

파라미터는 많아도 상관없지만, 연산은 딱 한줄이어야 한다.

In [52]:
def my_func_square(x):
    return x**2

In [56]:
my_func_square(3)

9

In [53]:

y = lambda x : x ** 2

In [54]:
y(3)

9

In [57]:
def summation(x, y, z) :
    summ = x + y + z
    return summ

In [58]:
summation(1,5,7)

13

In [59]:
ret = lambda x,y,z : x + y + z

In [60]:
ret(1,3,5)

9

### MAP

The map() 함수는, 그 안에 함수명과 리스트 들을 전달하여, 리스트를 함수의 파라미터로 전달할 수 있게 한다.

In [65]:
my_list = [ 1, 2, 3, 4]
my_list2 = [5,6,7,8]

In [66]:
def summation(a, b):
    return a+b

In [68]:
c = list(  map(summation, my_list, my_list2)   )

In [69]:
c

[6, 8, 10, 12]

### 함수에 주석을 달 수 있다.

이를 docstring 라고 한다.

In [61]:
# 이것은 무슨 함수입니다.
def echo(anything) :
    '''이 함수는 에코 함수이며, 인풋으로는
    1. anything : 문자열을 받아야 합니다.
    2. 리턴은 없습니다. '''
    print(anything)

In [62]:
echo('hello')

hello